.joke {
  background: #f3f3f3;
  box-shadow: 0 0 5px #C3C3C3;
}

.joke__joke {
  color: #333;
}

.joke__details {
  font-style: italic;
  font-size: 14px;
  text-align: right;

  color: #757575;
}

.joke__id,
.joke__category {
  font-weight: bold;
  color: rgba(#000, .7);
}
