.jokes {
  $gutter: 16px;

  max-width: 900px;
  width: 100%;

  margin: 32px auto;

  .joke {
    width: 100%;

    padding: $gutter;
    margin-bottom: $gutter;
  }

  .joke__joke {
    margin: 0 0 $gutter;
  }
}
